[Unit]
Description=Deploy Agent Service
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/deploy-agent
ExecStartPre=/home/ec2-user/deploy-agent/script/prelaunch.sh
ExecStart=/home/ec2-user/deploy-agent/DeployAgent -password $DEPLOY_AGENT_PASSWORD
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target